
<div class="container" th:fragment="noAccountsDisplay">
    <div class="card no-accounts-card">
        <div class="card-body">
            <h1 class="card-title">
                <i class="fas fa-ban text-danger"></i> NO Registered Accounts
            </h1>
            <hr>
            <div class="card-text">
                You currently do not have any registered accounts. <br>
                Please click below to register / add a new account.
            </div>
            <br>
            <button id="add-account-btn" class="btn btn-primary btn-lg shadow" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="fa fa-credit-card"></i> Add New Account
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Create / Add an Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="card-body">
                        <form th:action="@{/account/create_account}"  th:method="POST" class="add-account-form">
                            <div class="form-group mb-3">
                                <label for=""> Enter Account Name</label>
                                <input type="text" name="account_name" class="form-control" placeholder="Enter Account name...">
                            </div>
                            <div class="form-group mb-3">
                                <label for=""> Select Account Type</label>
                                <select name="account_type" class="form-control" id="">
                                    <option value="">-- Select Account Type --</option>
                                    <option value="check">Check</option>
                                    <option value="savings">Savings</option>
                                    <option value="business">Business</option>
                                </select>
                            </div>

                            <div class="form-group my-2">
                                <button id="" class="btn btn-md transact-btn">Add Account</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>